html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form{
  padding: 2rem;
  background-color: #f5f5f5;
  border: 1px solid black;
  border-radius: 5px;
}

input[type='email'],
input[type='password']{
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  outline: 0;
  border: 1px solid #ced4da;
  transition: border-color 0.15s, box-shadow 0.15s ;
}

input[type='email']:focus,
input[type='password']:focus{
    box-shadow: 0 0 0 3px #b9d3fa ;
    border-color: #86b7fe;
}

.input-field{
  margin: 0.5rem;
}

button{
  background: #2B71F4;
  width: 20rem;
  color: #ffff;
  outline: 0;
  border: none;
  border-radius: 30px;
  padding: 1rem 0.7rem;
  margin: 1rem 1rem;
}

.form{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=checkbox]{
  width: fit-content;
  margin-right: 5px;
}

#copy{
  color: #6F767D;
}